<section  id="school" class="py-5">
    <ul class="timeline">
      <li class="timeline-item mb-5">
        <h5 class="fw-bold">ENGENHARIA INFORMÁTICA – Escola Superior de Tecnologia e Gestão de Viseu</h5>
        <p class="text-muted mb-2 fw-bold">15/09/2017 - NOW</p>
        <p class="text-muted">
          The Computer Engineering course favors a predominantly practical teaching model, contemplating the
          application of the knowledge acquired in laboratory practices and a curricular project/internship. The
          course aims to
          Train qualified specialists for the competent exercise of a professional activity, able to properly apply the
          Information and Communication Technologies (ICT), combining factors of technical, economic,
          organizational and social nature;
          To prepare future professionals to respond to the constant evolution of ICT and development
          methodologies, as well as to the challenges posed by the highly competitive and globalized business
          environment;
          To train professionals who combine a high technical level with a strong capacity for human relationships,
          so that graduates can easily fit into networked and collaborative work environments that are constantly
          changing.
          The Computer Engineering degree has the following professional outlets:
  
          Analysis, planning and development of information systems;
          Database administration and management;
          Integration of computer systems in heterogeneous environments;
          Planning, installation, configuration and management of complex communication systems and networks;
          Administration, management and maintenance of systems or computer centers;
          Consulting and auditing of Systems and Information Technology.
          Field(s) of study
          Information and Communication Technologies
          EQF level 6 180 https://www.estgv.ipv.pt/estgv/index.php?v=10012
        </p>
      </li>
  
      <li class="timeline-item mb-5">
        <h5 class="fw-bold">PROFESSIONAL HIGHER TECHNICAL COURSES DEVELOPMENT FOR THE WEB AND MOBILE
          DEVICES – Escola Superior de Tecnologia e gestão de Viseu</h5>
        <p class="text-muted mb-2 fw-bold">15/09/2015 – 19/07/2017 </p>
        <p class="text-muted">
          Manage and develop projects aimed at the creation and development of IT solutions to be conveyed on the
          Web or specifically on mobile devices, including the design of the respective interfaces and the production
          of the contents to be included.
          Main activities:
          - Manage and develop projects, from business and requirements analysis to making the implemented
          solutions available to the respective public, dealing autonomously with the technologies involved
          - Developing computer solutions for the Web and suitable for different devices that allow access to it
          - Develop software applications to run natively on mobile devices
          - Design interfaces respecting principles of graphic design, guidelines and specific standards, and so that
          they are not only usable but also enjoyable from the point of view of interaction
          - Develop the content to be included in the implemented solutions, in terms of image, video, sound and
          interactive elements, eventually involving the design and implementation of the corporate image of the
          identity involved
          Field(s) of study
          Information and Communication Technologies
          EQF level 5 ECTS 120 https://www.estgv.ipv.pt/estgv/index.php?v=10012
        </p>
      </li>
    </ul>
  </section>