<section id="work" class="py-5">
    <ul class="timeline">
   
      <li class="timeline-item mb-5">
        <h5 class="fw-bold">SOFTWARE DEVELOPER – CELFOCUS</h5>
        <p class="text-muted mb-2 fw-bold">21/02/2022 – Now Lisbon</p>
        <p class="text-muted">
          At Celfocus I am embedded in the euronext project Euronext NV (European New Exchange Technology) is a
          European stock exchange with headquarters in Amsterdam and corporate headquarters in La Défense in
          Greater Paris, operating markets in Amsterdam, Brussels, London, Lisbon, Dublin, Oslo and Paris. With
          about 1,500 listed companies worth €4.1 trillion in market capitalization at the end of July 2019, Euronext is
          the largest stock exchange in continental Europe.
          I am working on a project based in Sweden with a team of 7 people.
          My main tasks are:
          Backend developer
          Development of new features
          Bug fixing
          Finding the best solution to implement
          Review code
          Quality assurance
          I have been working with the following technologies:
          Angular 10, Java11, Spring Boot, Gitlab, Docker, CI/CD, HTML, CSS, JAVASCRIPT, TYPESCRIPT, MYSQL
          Digital Financial and insurance activities https://www.celfocus.com/home/who-we-are
          Lisbon, Portugal
        </p>
      </li>
  
      <li class="timeline-item mb-5">
        <h5 class="fw-bold">PROGRAMMER – CAPGEMINI ENGINEERINGe</h5>
        <p class="text-muted mb-2 fw-bold">16/09/2019 – 21/02/2022 – Lisboa , Portugal</p>
        <p class="text-muted">
  At Capgemini Engenharia I worked on the client's premises.
  In my first year from September 16, 2019 to September 16, 2020 I was inserted in the Altice project,
  integrating the bss-Business support system department with a team of 4 people
  My main tasks were :
  Give support to existing apps
  Solve problems in the system
  Develop script
  Integrate elastic search with internal applications
  Keep the systems running
  Database management
  Rest api development
  I worked with the following technologies:
  WORK EXPERIENCE
  Shell Script, Python, pearl, Java 8, PHP, Oracle Database, PL-SQL, Informix database Microsoft SQL
  Server Siebel CRM, Linux, Windows Server.
  Between 16-September 2020 and 21 February 2022 I changed departments, joining the CTI department .
  My main tasks were :
  Development of new functionalities
  Bug fixing
  Quality assurance
  Database management
  Keepi the system running
  During this period I worked with the following technologies:
  Java 8, Git Lab, Source Tre, Genesys SDK, JavaServer Page, htm, css, Java Script, Soap Services, DataTable,
  Oracle Database, PL-SQL, Informix database, Microsoft SQL Server, Siebel CRM, Linux, Windows Server.
  BSS and CTI Information and communication https://capgemini-engineering.com/pt/pt-pt/
  Lisbon, Portugal
        </p>
      </li>
  
      <li class="timeline-item mb-5">
        <h5 class="fw-bold">APPLICATION DEVELOPER – VISABEIRA GLOBAL SGPS</h5>
        <p class="text-muted mb-2 fw-bold">02/02/2017 – 16/07/2017 – Viseu , Portugal</p>
        <p class="text-muted">
  I was responsible for the development of a mobile application that would aggregate all CRM Visabeira,
  along with a chat that allowed employees of the group to communicate, and make requests for materials,
  or approve projects.
  I was part of a team of 3 people.
  My main tasks were:
  Architectural analysis and planning
  Mobile application development
  Program and develop rest API
  Database modeling
  I worked with the following technologies :
  Java, cordova, angular 7, ionic 2, html5, css3, javascript, PHP, Code igniter, mysql, bootstrap.
  BSS Information and communication https://visabeiraglobal.com/pt/home Portugal
        </p>
      </li>
    </ul>
  </section>
  <!-- Section: Timeline -->
 